### Data Manipulation in Python

#### Lists

In [1]:
def cheers(person='aaron', job='data scientist', age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {age}!'
cheers()

"Hooray for aaron. You're a data scientist and you're 30!"

In [6]:
def cheers(person, job, age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {age}!'
cheers('greg', 'scientist', 130)

"Hooray for greg. You're a scientist and you're 130!"

In [33]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]
#primes.remove(3)
primes.index(11)

4

In [34]:
prime_doubles = [x*2 for x in primes]
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [37]:
prime_triples = [x*3 for x in primes]
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [38]:
prime_doubles2 = []
for x in primes:
    prime_doubles2.append(x*2)
prime_doubles2

[4, 6, 10, 14, 22, 26, 34, 38]

In [42]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

splits = [x.split() for x in names]
splits

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [46]:
splits2=[]
for x in names:
    splits2.append(x.split())
splits2

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [43]:
[name1[0]+'. '+name2[0]+'.' for (name1, name2) in splits]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [48]:
initials =[]
for name1, name2 in splits:
    initials.append(name1[0]+"." + name2[0])
initials

['A.T', 'C.B', 'A.L', 'A.B', 'S.W', 'A.N']

### Assignment

In [ ]:
# Assignment 1.
# 1. Use a list comprehension to extract the odd numbers from this set: nums = set(range(1000))

nums = set(range(1000))

In [117]:
odd= [x for x in nums if x % 2 ==1]

In [99]:
odd1 =[]
for x in nums:
    if x % 2 ==1:
     odd1.append(x)

In [ ]:
# 2. Use a list comprehension to take the first character of each string from the following list of words.

words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

In [106]:
first_character = [character[0] for character in words]
first_character

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

In [ ]:
# to return words starting with letter o
first_character = [character for character in words if character[0]=="o"]
first_character

In [119]:
# 3. Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name.

names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']

In [113]:
R = [name for name in names if name[0]=="R"]
R

['Randy', 'Robert', 'Ranjit', 'Richard', 'Ravdeep']

In [158]:
scores = [.858, .873, .868]
{'model' + str(j+1): scores[j] for j in range(3)}

{'model1': 0.858, 'model2': 0.873, 'model3': 0.868}

#### Dictionaries

In [123]:
my_dict = {'who': 'flatiron school', 'what': 'data science',
           'when': 'now', 'where': 'here', 'why': '$',
           'how': 'python'}

In [124]:
my_dict.items()

dict_items([('who', 'flatiron school'), ('what', 'data science'), ('when', 'now'), ('where', 'here'), ('why', '$'), ('how', 'python')])

In [129]:
{k : v + '!' for k, v in my_dict.items() if k.startswith('w')}

{'who': 'flatiron school!',
 'what': 'data science!',
 'when': 'now!',
 'where': 'here!',
 'why': '$!'}

In [130]:
{k**2: v**2 for k, v in [(0, 1), (2, 3), (4, 5)]}

{0: 1, 4: 9, 16: 25}

In [156]:
# Zip Function
dict(zip(range(5), ['apple', 'orange', 'banana', 'lime', 'blueberry']))

{0: 'apple', 1: 'orange', 2: 'banana', 3: 'lime', 4: 'blueberry'}

In [146]:
# Zipping multiple iterables together
tuple(zip(range(1, 5), 'a'*4, 'b'*4, 'c'*4, 'd'*4, 'e'*4))

((1, 'a', 'b', 'c', 'd', 'e'),
 (2, 'a', 'b', 'c', 'd', 'e'),
 (3, 'a', 'b', 'c', 'd', 'e'),
 (4, 'a', 'b', 'c', 'd', 'e'))

In [147]:
{k: v for k, v in zip(range(5), range(0, 10, 2))}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [154]:
print(range(0,10,2))

range(0, 10, 2)

### Exercise

In [162]:
# 1. Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['Washington', 'Paris', 'Ottawa', 'Bangkok']

# method 1
dict(zip(list1, list2))

{'USA': 'Washington',
 'France': 'Paris',
 'Canada': 'Ottawa',
 'Thailand': 'Bangkok'}

In [163]:
# method 2
{country: capital for (country, capital) in zip(list1, list2)}

{'USA': 'Washington',
 'France': 'Paris',
 'Canada': 'Ottawa',
 'Thailand': 'Bangkok'}

In [169]:
# 2. Use a dictionary comprehension to make each of the characters in the following list a key with the value 'fictional character'.
chars = ['Pinocchio', 'Gilgamesh', 'Kumar Patel', 'Toby Flenderson']

{char: 'fictional character' for char in chars}

{'Pinocchio': 'fictional character',
 'Gilgamesh': 'fictional character',
 'Kumar Patel': 'fictional character',
 'Toby Flenderson': 'fictional character'}

### Nesting

In [170]:
lists = [['morning', 'afternoon', 'night'], ['read', 'code', 'sleep']]

In [173]:
[[item[0] for item in small_list] for small_list in lists]

[['m', 'a', 'n'], ['r', 'c', 's']]

### Nested Structures
It will be well worth your while to practice accessing data in complex structures. Consider the following:

#### Q: How would we access 'I Am a Bunny'?
#### A: The outermost "layer" has a name: 'customers', and that object is a dictionary: customers
#### The key we are interested in is 'pat', since that's where 'I Am a Bunny' is located: customers['pat']
#### The value corresponding to the key 'pat' is also a dictionary, and in this "lower-down" dictionary, the key we are interested in is 'purchases': customers['pat']['purchases']
#### The value corresponding to the key 'purchases' is yet another dictionary, and here the key of interest is books: customers['pat']['purchases']['books']
#### The value corresponding to the key 'books' is a list, and 'I Am a Bunny' is the second element in that list: customers['pat']['purchases']['books'][1]

In [176]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],
                     'books': []}, 'id': 1},
            'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
            'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

In [200]:
customers.items()

dict_items([('bill', {'purchases': {'movies': ['Terminator', 'Elf'], 'books': []}, 'id': 1}), ('dolph', {'purchases': {'movies': ['It Happened One Night'], 'books': ['The Far Side Gallery']}, 'id': 2}), ('pat', {'purchases': {'movies': [], 'books': ['Seinfeld and Philosophy', 'I Am a Bunny']}, 'id': 3})])

In [179]:
# Here is how to access I am a Bunny form the above steps

customers['pat']['purchases']['books'][1]

'I Am a Bunny'

### Exercise

In [181]:
# 1. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
          {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
            {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
            {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
            {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

In [183]:
 [{item['name']: item['nums']['home']} for item in phone_nos]

[{'greg': 1234567},
 {'max': 9876543},
 {'erin': 3333333},
 {'joél': 2222222},
 {'sean': 9999999}]

In [198]:
# 2. From the customers dictionary above, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

{k: v['purchases']['movies'] for k, v in customers.items()}

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

### More excercise

In [204]:
# 1. Build a function that will return 2^n for an input n

def expo(n):
    return 2**n
expo(3)

8

In [ ]:
# 2. Build a function that returns the median of a list of numbers.

def median(list):
    b=sorted(list)
    a=len(list)
    if a%2==0:
        return (b[(a//2)] + b[(a//2)-1])/2
    else:
        return b[(a//2)]
median([4,5,11,7,8,9])

7.5

In [225]:
# Above question now for mode

def mode (list):
    frequency={}
    for item in list:
        if item not in frequency:
            frequency[item] = 1
        else:
            frequency[item] += 1
    highest_freq = max(frequency.values())
    modelist=[]
    for item, freq in frequency.items():
        if freq == highest_freq:
            modelist.append(item)
    return modelist
mode([4,5,11,11, 45,7,8,9])

[11]